<!-- Components 8-33 lines -->
<!-- Directives 35-106 -->
<!-- Template driven Forms 110- -->




<!-- SEND DATAS AND RECEIVE -->

<!-- <hello nickname="{{userName}}" (iamOut)="receivedata($event)" [testMethod]="receivedata.bind(this)" [result]="receivedata.bind(this)"></hello>
<h1>Parent data <span style="color:greenyellow">{{fromChild}}</span></h1>
<ol>
    <li *ngFor="let child of fromChild">{{child}}</li> 
</ol> -->


<!-- BOOTSTRAP  -->
<!-- ng-content make custome content this class is create in hello component -->

<!-- <hello> -->
    <!-- ng-content -->
    <!-- <div class="heading">Heading</div>
    <div class="body">
        <h2>Body</h2>
        <p>Some content ...</p>
    </div> -->

    <!-- ng-container -->
    <!-- <ng-container class="heading">Heading</ng-container>
    <ng-container class="body">
        <h2>Body</h2>
        <p>Some content ...</p>
    </ng-container>

</hello> -->


 
                <!-- DIRECTIVES ---- hidden property ,ngIf..., ngFor... -->
    <!-- <h1 hidden>hidden</h1> -->
    <!-- <h2 [hidden]= "nums.length == 0">not have num</h2> -->
    <!-- <h1 [hidden]="nums.length > 0">big</h1>
    <h2 [hidden]="nums.length == 0">small</h2> -->

 <!-- Switch Case -->
 <!-- <ul class="btn btn-warning col-4 ">
    <li [class.active]="view == 'grid'"><a (click)="view = 'grid' ">grid</a></li>
    <li [class.active]="view == 'list'"><a (click)="view = 'list' ">list</a></li>
    <li [class.active]="view == 'other'"><a (click)="view = 'other' ">other</a></li>

 </ul>
 <div [ngSwitch]="view">
     <div *ngSwitchCase="'grid'">Grid</div>
     <div *ngSwitchCase="'list'">List</div>
     <div *ngSwitchDefault>other</div>
 </div> -->


 <!-- ngFor (exported values - index,first,last,odd,even) -->
 <!-- <ul *ngFor="let val of courses; index as i"> 
      <li>{{i}} - {{val.name}}</li>
 </ul>
-->
    <!-- <ul *ngFor="let val of courses; odd as isOdd;">
    <li #c>
        {{val.name}} -- <span *ngIf="isOdd; else eve"> ODD </span>
    </li>
    <ng-template #eve>EVEN</ng-template>
 </ul> -->

 <!-- ngFOr and change Detection -->
 <!-- <input #nameval type="text" name="name" placeholder="names">
 <button (click)="onAdd(nameval.value)">Add</button> -->

 <!-- trackby -->
 <!-- <button (click)="loadCourses()">Load</button> -->
 
<!-- <ul> 
    <li *ngFor="let val of courses"> {{val.name}} 
        <button (click)="onRemove(val)">remove</button> <button (click)="onup(nameval.value); onChange(val);">Update</button>
    </li>  -->


    <!-- ngfor and Trackby-->
    <!-- <li *ngFor="let val of courses; trackBy: trackCourse"> {{val.name}} 
        <button (click)="onRemove(val)">remove</button> <button (click)="onup(nameval.value); onChange(val);">Update</button>
    </li>  --> 

<!-- </ul> -->

<!-- ngClass , ngStyle -->
<!-- normal -->
<!-- <button
    [style.backgroundColor]="canSave ?' green' : 'red'"  
    [style.color]="canSave ? 'black' : 'white' "
    [style.fontWeight]="canSave ? 'bold' : 'normal'" 
>Save
</button> -->

<!-- using ngStyle -->
<!-- <button 
    [ngStyle]="{
        'backgroundColor':canSave ?' green' : 'red',
        'color': canSave ? 'black' : 'white',
        'fontWeight': canSave ? 'bold' : 'normal'
    }"
>Save</button> -->


                        <!-- Template driven Forms -->
<!-- bootstrap form -->

<!-- <contact-form></contact-form> -->


            <!-- REACTIVE FORM From signup-form component -->
<!-- <signup-form></signup-form> -->


<!-- HTTP   -->

<!-- <app-posts></app-posts> -->



<!-- ROUTING -->
<navbar></navbar>
<router-outlet></router-outlet>